
/*  */
/*  */
/*  */
/*  */
/* Regular */
.c-section__banner {
  background:none;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 0px; 
  position: relative;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.legal__actions:before,
.legal__actions:after {
  display: table;
  content: " ";
}
.legal__actions:after {
  clear: both;
}

.terms-title {
  margin: 0 0 12px 0;
  font-weight: 400;
  text-align: center;
  color: #141419;
}

.terms-subtitle {
  font-weight: 300;
  text-align: center;
  color: #777;
}

.legal {
  background: #fff;
  border-radius: 3px;
}
.legal sup {
  color: #d9534f;
}
.legal__instructions alert {
  margin: 0;
}
.legal__navigation {
  position: relative;
  padding: 15px 20px 20px;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}
.legal__navigation ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: lower-roman;
  color: #0275d8;
}
.legal__terms {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: s-resize;
}
.legal__terms strong,
.legal__terms p {
  font-size: 16px;
  line-height: 25px;
}
.legal__terms-scroll {
  padding: 20px;
}
.legal__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background: #ddd;
}
.legal__rule {
  font-size: 12px;
}
.legal__rule:last-child {
  margin: 0 0 20px 0;
  border-bottom: 1px solid #ddd;
}
.legal__actions {
  padding: 5px 15px 20px;
  font-size: 12px;
}

#terms-and-conditions,
#privacy-notice {
  padding-top: 20px;
  margin: -20px 0 20px 0;
  color: #000;
}

input {
  z-index: -1;
  position: absolute;
  opacity: 0;
}
.legal__navigation li a {
  color: rgb(119, 148, 232);
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Tahoma";
  transition: all 0.15s ease-in-out;
}
.legal__navigation li a:hover {
  color: #0362b5;
}







/*  */
/*  */
/*  */
/*  */
/* laptop */
@media screen and (min-width: 1024px) {
  .terms_container {
    margin-top: -97px;
    color: #fff;
  }
  .main-area {
    background-color: #1f143d;
    padding: 0px 0px 360px 0px;
  }
  .terms-row {
    padding: 200px 0px 0px 0px;
    height: 1000px;
  }
  /* (min-width: 768px) { */
    .terms-title {
      font-size: 85px;
      color: #ffffd9;
      margin: 0px 0px 25px 0px;
      width: 148%;
    }
    .terms-subtitle {
      margin: 25px 0 25px 0;
      font-size: 21px;
      line-height: 26px;
      font-family: initial;
      width: 126%;
      padding: 0px 0px 0px 178px;
    }
    .legal {
      margin: 0px 0px 80px 65px;
      border: 1px solid #ddd;
      width: 1200px;
      height: 930px;
    }
    .legal__instructions {
      padding: 20px 20px 0;
    }
    .legal__navigation {
      margin: 20px;
      color: rgb(66,110,247);
    }
    .legal__terms {
      height: 770px;
      margin: 20px;
    }
    .legal__rule:last-child {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
    .legal__rule {
      padding: 15px 20px;
      border-top: 1px solid #ddd;
    }
  /* } */
  
}
/*  */
/*  */
/*  */
/*  */
/*  */
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-area {
    background-color: #1f143d;
    padding: 140px 0px 1464px 0px;
    margin-top: -97px;
  }
  .terms-row {
    padding: 0px 0px 0px 0px;
    height: 0px;
  }

  /* @media (min-width: 768px) { */
    .terms-title {
      font-size: 75px;
      color: #ffffd9;
      margin: 0px 0px 25px 0px;
      width: 147%;
    }
    .terms-subtitle {
      font-size: 14px;
      line-height: 26px;
      font-family: initial;
      width: 127%;
      padding-left: 112px;
    }
    .legal {
      margin: 0px 0px 20px 0px;
      border: 1px solid #ddd;
      width: 780px;
      height: 1072px;
    }
    .legal__instructions {
      padding: 20px 20px 0;
    }
    .legal__navigation {
      margin: 20px;
      color: rgb(66,110,247);
    }
    .legal__terms {
      height: 770px;
      margin: 20px;
    }
    .legal__rule:last-child {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
    .legal__rule {
      padding: 15px 20px;
      border-top: 1px solid #ddd;
    }
  /* } */
}
/*  */
/*  */
/*  */
/*  */
/* Mobile */
@media screen and (max-width: 767px) {
  /*   .terms_container {
      margin-top: 0px;
      color: #fff;
    } */
  .main-area {
    background-color: #1f143d;
    margin: -70px 0px 0px 0px;
    padding: 70px 0px 490px 0px;
    color: #fff;
  }
  .terms-row {
    padding: 50px 0px 0px 0px;
    height: 650px;
  }
  .terms-title {
    color: #fff;
    font-size: 60px;
    padding-bottom: 20px;
  }
  .terms-subtitle {
    margin: 0px 0px 0px 0px;
    /*     font-size: 10px; */
    line-height: 25px;
  }
  .legal {
    margin: 0px 0px 70px 0px;
  }
  .legal__instructions {
    padding: 20px 12px 0px 12px;
  }
  .legal__navigation {
    color: rgb(66,110,247);
  }
  .legal__rule {
    padding: 275px 0;
    border: none;
  }
  .legal__rule:last-child {
    border: none;
  }
  .legal__terms {
    height: 500px;
    margin: 20px 0px 0px 0px;
  }
  #terms-and-conditions,
  #privacy-notice {
    padding-top: 20px;
    margin: 0px 0px 0px 0px;
    color: #000;
  }
}
