.c-section__banner {
  background: none;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 0px;
  position: relative;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

/*  */
/*  */
/*  */
/*  */
/* laptop */
@media screen and (min-width: 1024px) {
  .main-area {
    background-color: #1f143d;
    padding: 140px 0px 20px 0px;
    margin-top: -97px;
  }
  .accountheader {
    text-transform: uppercase;
    font-size: 50px;
    color: green;
    font-style: italic;
    font-weight: 400;
    margin-left: 590px;
    letter-spacing: 2px;
  }
  #ea_logo {
    height: 25px;
    width: 60px;
    margin: 45px 0px 15px 490px;
  }
  .eaname {
    color: antiquewhite;
    margin: 25px 0px 0px 490px;
    letter-spacing: 2px;
  }
  .keypoint {
    color: #ce3919;
    background-color: hsl(11, 88%, 45%, 0.3);
    width: 450px;
    margin: 10px 0px 0px 490px;
    text-align: center;
    padding: 5px 0px 5px 0px;
  }
  #form {
    margin: 0px 0px 0px 370px;
    max-width: 700px;
    padding: 2rem;
    box-sizing: border-box;
  }

  .form-field {
    display: flex;
    margin: 0 0 1rem 0;
  }
  label,
  input {
    width: 100%;
    padding: 0.5rem;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 1.1rem;
  }
  label {
    color: aliceblue;
    text-align: left;
    width: 65%;
  }
  #email-input {
    background-color: transparent;
    color: aliceblue;
    margin-left: 15px;
    border: 2px solid #aaa;
    font-size: 23px;
    border-radius: 10px;
  }
  #comemail-input {
    background-color: transparent;
    color: aliceblue;
    margin-left: 15px;
    border: 2px solid #aaa;
    font-size: 23px;
    border-radius: 10px;
  }
  #num-input {
    background-color: transparent;
    color: aliceblue;
    margin-left: 15px;
    border: 2px solid #aaa;
    font-size: 23px;
    border-radius: 10px;
  }
  #backup-input {
    background-color: transparent;
    color: aliceblue;
    margin-left: 15px;
    border: 2px solid #aaa;
    font-size: 23px;
    border-radius: 10px;
  }
  #password-input {
    background-color: transparent;
    color: aliceblue;
    margin-left: 15px;
    border: 2px solid #aaa;
    font-size: 23px;
    border-radius: 10px;
  }
  input {
    border: 2px solid #aaa;
    border-radius: 10px;
  }
  .processpoint {
    /* color: #6D4A43; */
    background-color: hsl(11, 38%, 34%, 0.3);
    width: 550px;
    margin: 10px 0px 20px 50px;
    text-align: center;
    padding: 5px;
  }
  #submit {
    margin: 0px 200px 0px 200px;
  }
  .backuptitle {
    padding: 0px;
    position: relative;
    top: -16px;
    color: green;
    left: 260px;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-area {
    background-color: #1f143d;
    padding: 140px 0px 20px 0px;
    margin-top: -97px;
  }
  .accountheader {
    text-transform: uppercase;
    font-size: 35px;
    color: green;
    font-style: italic;
    font-weight: 400;
    margin-left: 275px;
    letter-spacing: 2px;
  }
  #ea_logo {
    height: 25px;
    width: 60px;
    margin: 5px 0px 15px 55px;
  }
  .eaname {
    color: antiquewhite;
    margin: 5px 0px 0px 55px;
    letter-spacing: 2px;
  }
  .keypoint {
    color: #ce3919;
    background-color: hsl(11, 88%, 45%, 0.3);
    width: 380px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    padding: 5px 0px 5px 0px;
  }
  #form {
    margin: 0px 0px 0px 0px;
    max-width: 700px;
    padding: 2rem;
    box-sizing: border-box;
  }

  .form-field {
    display: flex;
    margin: 0 0 1rem 0;
  }
  label,
  input {
    width: 100%;
    padding: 0.5rem;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 1.1rem;
  }
  label {
    color: aliceblue;
    text-align: left;
    width: 65%;
    font-size: 15px;
  }
  #email-input {
    background-color: transparent;
    color: aliceblue;
    border: 2px solid #aaa;
    margin-left: 0px;
    font-size: 15px;
    border-radius: 10px;
  }
  #comemail-input {
    background-color: transparent;
    color: aliceblue;
    border: 2px solid #aaa;
    margin-left: 0px;
    font-size: 15px;
    border-radius: 10px;
  }
  #num-input {
    background-color: transparent;
    color: aliceblue;
    margin-left: 0px;
    border: 2px solid #aaa;
    font-size: 15px;
    border-radius: 10px;
  }
  #backup-input {
    background-color: transparent;
    color: aliceblue;
    margin-left: 0px;
    border: 2px solid #aaa;
    font-size: 15px;
    border-radius: 10px;
  }
  #password-input {
    background-color: transparent;
    color: aliceblue;
    margin-left: 0px;
    border: 2px solid #aaa;
    font-size: 15px;
    border-radius: 10px;
  }
  input {
    border: 2px solid #aaa;
    border-radius: 10px;
  }
  .processpoint {
    /* color: #6D4A43; */
    background-color: hsl(11, 38%, 34%, 0.3);
    width: 320px;
    margin: 10px 0px 20px 0px;
    text-align: center;
    padding: 5px;
  }
  #submit {
    margin: 0px 90px 0px 90px;
  }
  .backuptitle {
    padding: 0px;
    position: relative;
    top: -16px;
    color:green;
    left: 255px;
  }
}
/*  */
/*  */
/*  */
/*  */
/* Mobile */
@media screen and (max-width: 767px) {
  .c-section__banner {
    display: none;
  }
  .main-area {
    background-color: #1f143d;
    padding: 140px 0px 20px 0px;
    margin-top: -97px;
  }
  .accountheader {
    text-transform: uppercase;
    font-size: 35px;
    color: green;
    font-style: italic;
    font-weight: 400;
    margin-left: 62px;
    letter-spacing: 2px;
  }
  #ea_logo {
    height: 25px;
    width: 60px;
    margin: 5px 0px 15px 55px;
  }
  .eaname {
    color: antiquewhite;
    margin: 5px 0px 0px 55px;
    letter-spacing: 2px;
  }
  .keypoint {
    color: #ce3919;
    background-color: hsl(11, 88%, 45%, 0.3);
    width: 380px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    padding: 5px 0px 5px 0px;
  }
  #form {
    margin: 0px 0px 0px 0px;
    max-width: 700px;
    padding: 2rem;
    box-sizing: border-box;
  }

  .form-field {
    display: flex;
    margin: 0 0 1rem 0;
  }
  label,
  input {
    width: 100%;
    padding: 0.5rem;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 1.1rem;
  }
  label {
    color: aliceblue;
    text-align: left;
    width: 65%;
    font-size: 15px;
  }
  #email-input {
    background-color: transparent;
    color: aliceblue;
    border: 2px solid #aaa;
    margin-left: 0px;
    font-size: 15px;
    border-radius: 10px;
  }
  #comemail-input {
    background-color: transparent;
    color: aliceblue;
    border: 2px solid #aaa;
    margin-left: 0px;
    font-size: 15px;
    border-radius: 10px;
  }
  #num-input {
    background-color: transparent;
    color: aliceblue;
    margin-left: 0px;
    border: 2px solid #aaa;
    font-size: 15px;
    border-radius: 10px;
  }
  #backup-input {
    background-color: transparent;
    color: aliceblue;
    margin-left: 0px;
    border: 2px solid #aaa;
    font-size: 15px;
    border-radius: 10px;
  }
  #password-input {
    background-color: transparent;
    color: aliceblue;
    margin-left: 0px;
    border: 2px solid #aaa;
    font-size: 15px;
    border-radius: 10px;
  }
  input {
    border: 2px solid #aaa;
    border-radius: 10px;
  }
  .processpoint {
    /* color: #6D4A43; */
    background-color: hsl(11, 38%, 34%, 0.3);
    width: 320px;
    margin: 10px 0px 20px 0px;
    text-align: center;
    padding: 5px;
  }
  #submit {
    margin: 0px 90px 0px 90px;
  }
  .backuptitle {
    padding: 0px;
    position: relative;
    top: -21px;
    color: green;
    left: 122px;
  }
}
